useDynLib(parthian, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

importFrom(methods, is)
importFrom(igraph, graph_from_edgelist, E, "E<-", 
           is_weighted, delete_edges, shortest_paths)
importFrom(terra, rast, vect, extract, xyFromCell, as.lines, crs, geom)
importFrom(enerscape, enerscape)
